{% extends 'layout.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="container">

    {% if tech_valleys %}
         <p style="padding:10px"></p>
         <h1 style="text-align:center;">Tech Valley Times {% block result_title %}{% endblock %}</h1>

         <!-- Contains style and format for a book from a query result -->
         <p style="padding: 10px"></p>

        {% for tech_valley in tech_valleys %}

            <div class="row">
                <div class="col-xs-12 col-sm-3 col-sm-offset-3">
                    <img src="{% static  tech_valley.book.cover_file_name  %}" class="result" height="200" width="200">
                </div>

                <div class="col-xs-12 col-sm-5 col-sm-push-1">
                    <a href="{% url 'products:bookDetail' tech_valley.book.title %}" style="color:gray;"><h4>{{ tech_valley.book.title }} </h4></a>
                    <p style="color:gray"> by {{ tech_valley.book.author.first_name }} {{ tech_valley.book.author.last_name }} </p>
                    <p>
                    {% if tech_valley.book.rating >= 4 %}
                        <span class="label label-success">Rating:  {{ tech_valley.book.rating }}</span>
                    {% elif 2 < tech_valley.book.rating < 4 %}
                        <span class="label label-warning">Rating:  {{ tech_valley.book.rating}}</span>
                    {% else %}
                        <span class="label label-danger">Rating:  {{ tech_valley.book.rating }}</span>
                    {% endif %}
                    </p>
                    <p style="padding:5px"> </p>
                    <span class="badge">${{ tech_valley.book.price }}</span>
                </div>
            </div>
            <hr>
        {% endfor%}
    {% endif %}


    <p style="padding:10px"></p>
    <h1 style="text-align:center;">{% block result_title_repeat %}{% endblock %}</h1>

    {% if books %}

        <!-- Contains style and format for a book from a query result -->
        <p style="padding: 10px"></p>

        {% for book in books %}
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-sm-offset-3">
                    <img src="{% static  book.cover_file_name  %}" class="result" height="200" width="200">
                </div>

                <div class="col-xs-12 col-sm-5 col-sm-push-1">
                    <a href="{% url 'products:bookDetail' book.title %}" style="color:gray;"><h4>{{ book.title }} </h4></a>
                    <p style="color:gray"> by {{ book.author.first_name }} {{ book.author.last_name }} </p>
                    <p>
                    {% if book.rating >= 4 %}
                        <span class="label label-success">Rating:  {{ book.rating }}</span>
                    {% elif 2 < book.rating < 4 %}
                        <span class="label label-warning">Rating:  {{ book.rating}}</span>
                    {% else %}
                        <span class="label label-danger">Rating:  {{ book.rating }}</span>
                    {% endif %}
                  </p>
                    <p style="padding:5px"> </p>
                    <span class="badge">${{ book.price }}</span>
                </div>
            </div>
            <hr>
        {% endfor %}

    {% else %}
    {% block empty_img %} {% endblock %}
    {% endif %}
</div>

<div>
    <p style="padding:25px"></p>
</div>

{% endblock %}
