{% load static from staticfiles %}


<form method="POST" action="{% url 'products:addBookReview' %}" class="form-horizontal" role="form">{% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Write A Review!</h3>
    </div>

    <div class="container">
        <div class="modal-body">
            <div class="form-inline">
                <div class="col-sm-2 control-label">
                    <label class="radio inline control-label">Rating</label>
                </div>

                <label class="radio"><input type="radio" name="user_rating" value="1"> 1 </label>
                <label class="radio"><input type="radio" name="user_rating" value="2"> 2 </label>
                <label class="radio"><input type="radio" name="user_rating" value="3"> 3 </label>
                <label class="radio"><input type="radio" name="user_rating" value="4"> 4 </label>
                <label class="radio"><input type="radio" name="user_rating" value="5"> 5 </label>

            </div>
            <p style="padding:10px;"></p>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="review_header">Review Heading</label>
                </div>
                <div class="col-sm-4">
                    <input class="form-control" type="text" name="review_header" id="review_header">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="review_body">Review Body</label>
                </div>
                <div class="col-sm-4">
                    <textarea class="form-control"  rows="5" cols="60" name="review_body" id="review_body"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="anonymous">Anonymous</label>
                </div>
                <div class="col-sm-4">
                    <input type="checkbox" name="anonymous" id="anonymous" value="True">
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="next" value="{{ request.path }}">
    <input type="hidden" name="book_id" value="{{ book.id }}">

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-md btn-primary">Submit Review</button>
    </div>
</form>

