{% extends 'layout.html' %}

{% block title %} About {% endblock %}

{% block content %}

<div class="container">
    <p style="padding:10px"></p>
    <center><h2>About Us</h2></center>
    &nbsp
<div>
    <p><center>Bard's Big Bad Bookstore is a company started by a group of bright-minded individuals back in 2014 with the goal of making
    textbooks and recreational reading materials easily accessible for anyone in the world.
    &nbsp
</center></p>
</div>

</div>
<center><script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD8QUL2vJQZhUf2TT_BzoxsxuRIqEZfMjM'></script>
    <div style='overflow:hidden;height:400px;width:520px;'><div id='gmap_canvas' style='height:400px;width:520px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
    </div> <a href='https://add-map.org/'>adding google maps to a website</a>
    <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=72fb12f2baca0a477d57153c1d8cad8b5631deaa'></script><script type='text/javascript'>function init_map()
    {var myOptions = {zoom:12,center:new google.maps.LatLng(25.7580337,-80.37517589999999),mapTypeId: google.maps.MapTypeId.ROADMAP};
    map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(25.7580337,-80.37517589999999)});infowindow = new google.maps.InfoWindow({content:'<strong>Company Headquarters </strong><br>11200 SW 8th St<br>33199 Miami<br>'});
    google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script></center>

<div>
    <p style="padding:25px"></p>
</div>

{% endblock %}